/* External CSS syntax
	selector {property: value;}
	selector {
		property: value;
		property: value;
	}
*/
/* Universal Selector - used to target all elements*/
* {
	font-family: "Courier New", monospace; 
	font-size: 20px;
	
}

h1{
	color: yellow !important;
}

h2 {
	color: blue;
}
p {
	color: green;
}

#zuitt-motto{
	letter-spacing: 5px;
}

.offering-item{
	text-transform: uppercase;
}

#offering-1{
	color: #1f567a;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/* Adjacent Sibling Selector (+) */

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h3 + p {
	color: blue;
}

p{
	color: red;
}

/**div + p {
	background-color: yellow;
}**/

/* General Sibling Selector (~)
used to sellect all elements 

div ~ p{
	background-color: yellow;
}
*/

/* Child Selector (>)
	used to select all elements that are the children of a specified element


div > p{
	background-color: yellow;
}
*/

/* Descendant Selector (whitespace)
	used to match all elements that are descendants of a specified element
*/

div p{
	background-color: yellow;
}